[DEFAULT]
bind_host = 0.0.0.0
registry_host = 0.0.0.0
enabled_backends = file

[database]
connection = mysql+pymysql://glance:{{ glance_db_password }}@localhost/glance

[keystone_authtoken]
www_authenticate_uri = http://{{ controller_host }}:5000
auth_url = http://{{ controller_host }}:5000
memcached_servers = localhost:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = glance
password = {{ glance_password }}

[oslo_messaging_notifications]
driver = messaging

[paste_deploy]
flavor = keystone

