[DEFAULT]
enabled_apis = osapi_compute,metadata
my_ip = {{ ansible_host }}
use_neutron = true
firewall_driver = nova.virt.firewall.NoopFirewallDriver

[api_database]
connection = mysql+pymysql://nova:{{ nova_db_password }}@localhost/nova

[database]
connection = mysql+pymysql://nova:{{ nova_db_password }}@localhost/nova

[oslo_messaging_rabbit]
rabbit_host = localhost
rabbit_port = 5672
rabbit_userid = openstack
rabbit_password = {{ rabbitmq_password }}

[vnc]
enabled = true
vncserver_listen = 0.0.0.0
vncserver_proxyclient_address = {{ ansible_host }}
novncproxy_base_url = http://{{ controller_host }}:6080/vnc_auto.html

[glance]
api_servers = http://{{ controller_host }}:9292

[placement]
os_region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ controller_host }}:5000/v3
username = placement
password = {{ placement_password }}

